
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body{
    margin: 0;
    background-color: #ccc;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Roboto mono;
}
div{
    background-color: white;
    padding: 20px;
    border-radius: 5px;   
}

input{
    height: 55px;
    width: 100%;
}
button{
    display: block;
    padding: 8px;
    margin-top: 30px;
    margin-left: 6px;
    width: 100%;
    color: black;
    font-weight: 600;
    background: #ff4b5c;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
button:hover {
    background: #ff1c3c;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

